block variables
doctype html 
html(lang="en")
    head    
        meta(charset="UTF-8")
        meta(name="viewport" content="width-device-width, initial-scale=1")

        base(href="/")

        title Hair Art

        //- meta(name="description" content=meta.data.description)

        //- link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        //- link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        //- link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        //- link(rel="manifest" href="/site.webmanifest")
        //- link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff3a00")

        link(href="main.css" rel="stylesheet")

        meta(name="msapplication-TileColor" content="#f4d8cc")
        meta(name="theme-color" content="#f4d8cc")
    
    body
                 
        #content.content(data-template=template)
        
        block content
        
        section.footer  
                .footer__wrapper
                    h3.footer__title=footer.data.subscribe_title
                    .footer__form
                        input.footer__input(type="text" placeholder="Email Address" )
                        button.footer__button Subscribe
                    ul
                        li Treatments         
                        li About     
                        li Contact    
                        li Facebook      
                        li Instagram                  
                    ul 
                        li=footer.data.text         
                        li=footer.data.text_1        
                        li=footer.data.text_2        
                        li=footer.data.text_3         
                        li=footer.data.text_4
                    ul 
                        li=footer.data.time             
                        li=footer.data.time_1             
                        li=footer.data.time_2            
                        li=footer.data.time_3             
                        li=footer.data.time_4 
                    h1.footer__title__2 Hair Art By Khalifa 
                    p.footer__description All rights reserved copyright @2023

        script(src="main.mjs" type="module")

    //- meta(property="og:type" content="website")
    //- meta(property="og:title" content=meta.data.title)
    //- meta(property="og:description" content=meta.data.description)
    //- meta(property="og:image" content=meta.data.image ? meta.data.image.url : '')

    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(name="twitter:title" content=meta.data.title)
    //- meta(name="twitter:description" content=meta.data.description)
    //- meta(name="twitter:image" content=meta.data.image ? meta.data.image.url : '')

    