extends ../base

block variables 
    - var template = 'about'
    
block content
    .about
        .about__wrapper 
            section.about__hero
                each section in about.data.body
                    if section.slice_type == "about_hero"
                        h2.about__hero__title=section.primary.about_title
                        img.about__hero__image( src=section.primary.about_image.url)
                        img.about__hero__image__1( src=section.primary.about_image_1.url)
                        p.about__hero__description=section.primary.about_description
                
            
            section.about__barbers
                .line__about__barbers
                each section in about.data.body
                    if section.slice_type == "about_"
                    
                        p.about__barbers__description__1=section.primary.about_description
                        img.about__barbers__image__2( src=section.primary.about_image_2.url)
                        img.about__barbers__image__3( src=section.primary.about_image_3.url)
                        img.about__barbers__image__4( src=section.primary.about_image_4.url)
               

            section.about__barbershop
                .line__about__barbershop
                each section in about.data.body
                    if section.slice_type == "about"
                    
                        p.about__barbershop__description__2=section.primary.about_description_1
                        img.about__barbershop__image__5( src=section.primary.about_image.url)
                        p.about__barbershop__description__3=section.primary.about_description_2
                        
                        
                
