section.footer  
    .footer__wrapper
        h3.footer__title=footer.data.subscribe_title
        .footer__form
            input.footer__input(type="text" placeholder="Email Address" )
            button.footer__button Subscribe
        ul
            li 
                a.link__animation(href=" ./treatments")  Treatments         
            li
                a.link__animation(href="./about") About     
            li
                a.link__animation(href="./contact") Contact    
            li
                a.link__animation(href="https://www.facebook.com/Hairartbykhalifa/" target="_blank" ) Facebook      
            li 
                a.link__animation(href="https://www.instagram.com/hairartbykhalifa/" target="_blank") Instagram                  
        ul 
            li=footer.data.text         
            li=footer.data.text_1        
            li=footer.data.text_2        
            li=footer.data.text_3         
            li=footer.data.text_4
        ul 
            li=footer.data.time             
            li=footer.data.time_1             
            li=footer.data.time_2            
            li=footer.data.time_3             
            li=footer.data.time_4 
        h1.footer__title__2 Hair Art By Khalifa 
        p.footer__description All rights reserved copyright @2023
