extends base

block variables 
    - var template = 'home'
    
block content
    .home
        .home__wrapper
            include navigation
            section.home__hero
                each section in home.data.body
                    if section.slice_type == "hero"
                        h2.home__hero__title=section.primary.title
                        .home__hero__wrapper__1
                            p.home__hero__description=section.primary.description
                            img.home__hero__image( alt=section.primary.image.alt src=section.primary.image.url)
                            p.home__hero__description__1=section.primary.description_1
                            p.home__hero__description__mobile=section.primary.hero_description_mobile
                .line
         
    
                .menu
                    .menu__wrapper
                        .menu__item
                            figure
                                img(src=assets[5].gallery_image.url )
                        .menu__item
                            figure
                                img(src=assets[6].gallery_image.url)
                        .menu__item
                            figure
                                img(src=assets[7].gallery_image.url)
                        .menu__item
                            figure
                                img(src=assets[8].gallery_image.url)
                        .menu__item
                            figure
                                img(src=assets[9].gallery_image.url)
                        .menu__item
                            figure
                                img(src=assets[6].gallery_image.url)



            each section in home.data.body
                if section.slice_type == "barbers"
                    section.home__barbers
                        .home__barbers__wrapper
                            h2.home__barbers__title=section.primary.title_barbers
                            .line__1
                        
                            .home__barbers__profile.frame
                                .home__barbers__profile__title
                                    h2.home__barbers__name= assets[0].barber_name
                                    span 01
                                img.home__barbers__image(src=assets[0].barber_image.url)
                                p.home__barbers__name__description=assets[0].barber_description

                            .home__barbers__profile__1.frame
                                .home__barbers__profile__title
                                    h2.home__barbers__name__1= assets[1].barber_name
                                    span 02
                                img.home__barbers__image(src=assets[1].barber_image.url)
                                p.home__barbers__name__description__1=assets[1].barber_description

                            .home__barbers__profile__2.frame
                                .home__barbers__profile__title
                                    h2.home__barbers__name__2= assets[2].barber_name
                                    span 03
                                img.home__barbers__image(src=assets[2].barber_image.url)
                                p.home__barbers__name__description__2=assets[2].barber_description

                            .home__barbers__profile__3.frame
                                .home__barbers__profile__title
                                    h2.home__barbers__name__3= assets[3].barber_name
                                    span 04
                                img.home__barbers__image(src=assets[3].barber_image.url)
                                p.home__barbers__name__description__3=assets[3].barber_description

                            p.home__barbers__description=section.primary.description_barbers

                            
                                    
            each section in home.data.body
                if section.slice_type == "products"
                    section.home__products
                        .home__products__wrapper
                            h2.home__products__title=section.primary.title_products
                            .line__2
                            p.home__products__description=section.primary.products_description
                            img.home__products__image( src=section.primary.product_image.url)
                            img.home__products__image__1( src=section.primary.product_image_1.url)
                            img.home__products__image__2( src=section.primary.product_image_2.url)
                            p.home__products__description__1=section.primary.products_description_1

            include footer        

 
