extends ../base 
 
block content
    .home
        .home__wrapper
            section.home__hero
                each section in home.data.body
                    if section.slice_type == "hero"
                         h2.home__hero__title=section.primary.title
                         .home__hero__content
                            p.home__hero__description=section.primary.description
                            img.home__hero__image(alt=section.primary.image.alt src=section.primary.image.url)
                            p.home__hero__description=section.primary.description_1

            each section in home.data.body
                if section.slice_type == "barbers"
                    section.home__barbers
                        .home__barbers__wrapper
                            h2.home__barbers__tile=section.primary.title_barbers
                            p.home__barbers.description=section.primary.description_barbers
                            each barber in section.items 
                                    h2.home__barbers__name=barber.barber_name
                                    p.home__barbers__name__description=barber.barber_description
                                    
            each section in home.data.body
                if section.slice_type == "products"
                    section.home__products
                        .home__products__wrapper
                            h2.home__products__title=section.primary.title_products
                            p.home__products__description=section.primary.products_description

                                
                                
                                    
 
