section.navigation__bar
            .navigation__bar__wrapper
                a(href="./")
                    h1.navigation__bar__title Hair Art
                h2 Home 
                <svg class="navigation__bar__button" width="59" height="16" viewBox="0 0 59 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M58.8516 15.6533L-0.000520172 15.6533L58.8516 8.49563V15.6533Z" fill="#0B0B16"/>
                <path d="M58.8516 7.1582L-0.000520172 7.1582L58.8516 0.000517434V7.1582Z" fill="#0B0B16"/>
                </svg>

.navigation__wrapper
    nav.navigation
        each section in about.data.body
            if section.slice_type == "about_hero"
                img.navigation__image( src=section.primary.about_image.url)
                img.navigation__image__1( src=section.primary.about_image_1.url)
    
        ul.navigation__list
            li.navigation__list__item
                a.navigation__list__link(href="#" data-animation="link")
                    span Booking
            li.navigation__list__item
                a.navigation__list__link(href="./treatments" data-animation="link") 
                    span Treatments
            li.navigation__list__item
                a.navigation__list__link(href="./about" data-animation="link")
                    span About
            li.navigation__list__item
                a.navigation__list__link(href="./contact" data-animation="link")
                    span Contact
    
        p.nav__booking__text Bookings can only be made for home services at the moment.                 
        .nav__time__wrapper 
            ul 
                li=footer.data.text         
                li=footer.data.text_1        
                li=footer.data.text_2        
                li=footer.data.text_3         
                li=footer.data.text_4
            ul 
                li=footer.data.time             
                li=footer.data.time_1             
                li=footer.data.time_2            
                li=footer.data.time_3             
                li=footer.data.time_4 
            