extends base
    
block variables 
    - var template = 'treatments'
    
block content
    .treatments 
        include navigation
        .treatments__wrapper
            section.sp.treatments__header__wrapper
    
                h2.treatments__title.inactive(data-title)  Wash &amp Blow Dry
                .treatments__wash__wrapper
                    <svg class="back__arrow" data-carousel-button="prev" width="88" height="89" viewBox="0 0 88 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.49999 44.0928C0.49999 20.0684 19.9756 0.592771 44 0.592771C68.0244 0.592771 87.5 20.0684 87.5 44.0928C87.5 68.1172 68.0244 87.5928 44 87.5928C19.9756 87.5928 0.49999 68.1172 0.49999 44.0928Z" stroke="#FAF5EF"/>
                    <path d="M21.8926 43.5076L43.9996 31.256L32.2092 43.5076L43.9996 55.7593L21.8926 43.5076Z" fill="#FAF5EF"/>
                    <path d="M61 43.6343L31.5 43.6343" stroke="#FAF5EF" stroke-width="3"/>
                    </svg>

                    img.treatments__image(src="")
                    
                    <svg class="next__arrow" data-carousel-button="next" width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="44" cy="44" r="43.5" stroke="#FAF5EF"/>
                        <path d="M66.1074 44.1253L44.0004 56.2507L55.7908 44.1253L44.0004 32L66.1074 44.1253Z" fill="#FAF5EF"/>
                        <path d="M27 44H56.5" stroke="#FAF5EF" stroke-width="3"/>
                    </svg>
            .carousel(data-carousel)
                div(data-slides)
                    section.sp.treatments__wash(data-active)
                        .treatments__services
                            .treatments__col
                                .treatments__row
                                    p.treatments__wash__text=assetsWash[0][0].service
                                    p.treatments__wash__price=assetsWash[0][0].price
                                .line__treatments 
                                .treatments__row
                                    p.treatments__wash__text=assetsWash[0][1].service
                                    p.treatments__wash__text=assetsWash[0][1].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__wash__text=assetsWash[0][2].service
                                    p.treatments__wash__price=assetsWash[0][2].price
                                .line__treatments
                            .treatments__col
                                    .treatments__row
                                        p.treatments__wash__text=assetsWash[0][3].service
                                        p.treatments__wash__price=assetsWash[0][3].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__wash__text=assetsWash[0][4].service
                                        p.treatments__wash__price=assetsWash[0][4].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__wash__text=assetsWash[0][5].service
                                        p.treatments__wash__price=assetsWash[0][5].price
                                    .line__treatments
                            

                    section.sp.inactive.treatments__massage
                        .treatments__services
                            .treatments__col
                                .treatments__row
                                    p.treatments__massage__text=assetsMassage[0][0].service
                                    p.treatments__massage__price=assetsMassage[0][0].price
                                .line__treatments 
                                .treatments__row
                                    p.treatments__massage__text=assetsMassage[0][1].service
                                    p.treatments__massage__text=assetsMassage[0][1].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__massage__text=assetsMassage[0][2].service
                                    p.treatments__massage__price=assetsMassage[0][2].price
                                .line__treatments
                            .treatments__col
                                .treatments__row
                                    p.treatments__massage__text=assetsMassage[0][3].service
                                    p.treatments__massage__price=assetsMassage[0][3].price
                                .line__treatments
                                

                    section.sp.inactive.treatments__home 
                        .treatments__services
                            .treatments__col
                                .treatments__row
                                    p.treatments__home__text=assetsHome[0][0].service
                                    p.treatments__home__price=assetsHome[0][0].price
                                .line__treatments 
                                .treatments__row
                                    p.treatments__home__text=assetsHome[0][1].service
                                    p.treatments__home__text=assetsHome[0][1].price
                                .line__treatments
                            .treatments__col   
                                .treatments__row
                                    p.treatments__home__text=assetsHome[0][2].service
                                    p.treatments__home__price=assetsHome[0][2].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__home__text=assetsHome[0][3].service
                                    p.treatments__home__price=assetsHome[0][3].price
                                .line__treatments
                        
                            
                    section.sp.inactive.treatments__beard 
                        .treatments__services
                            .treatments__col
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][0].service
                                    p.treatments__beard__price=assetsBeard[0][0].price
                                .line__treatments 
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][1].service
                                    p.treatments__beard__text=assetsBeard[0][1].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][2].service
                                    p.treatments__beard__price=assetsBeard[0][2].price
                                .line__treatments
                        
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][3].service
                                    p.treatments__beard__price=assetsBeard[0][3].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][4].service
                                    p.treatments__beard__price=assetsBeard[0][4].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][5].service
                                    p.treatments__beard__price=assetsBeard[0][5].price
                                .line__treatments
                            .treatments__col
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][6].service
                                    p.treatments__beard__price=assetsBeard[0][6].price
                                .line__treatments
                        
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][7].service
                                    p.treatments__beard__price=assetsBeard[0][7].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][0].service
                                    p.treatments__beard__price=assetsBeard[0][0].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__beard__text=assetsBeard[0][0].service
                                    p.treatments__beard__price=assetsBeard[0][0].price
                                .line__treatments

                    section.sp.inactive.treatments__hairCuts   
                        .treatments__services
                            .treatments__col
                                .treatments__row
                                    p.treatments__hairCuts__text=assetsHairCuts[0][0].service
                                    p.treatments__hairCuts__price=assetsHairCuts[0][0].price
                                .line__treatments 
                                .treatments__row
                                    p.treatments__hairCuts__text=assetsHairCuts[0][1].service
                                    p.treatments__hairCuts__text=assetsHairCuts[0][1].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__hairCuts__text=assetsHairCuts[0][2].service
                                    p.treatments__hairCuts__price=assetsHairCuts[0][2].price
                                .line__treatments
                            .treatments__col
                                .treatments__row
                                    p.treatments__hairCuts__text=assetsHairCuts[0][3].service
                                    p.treatments__hairCuts__price=assetsHairCuts[0][3].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__hairCuts__text=assetsHairCuts[0][4].service
                                    p.treatments__hairCuts__price=assetsHairCuts[0][4].price
                                .line__treatments
                                .treatments__row
                                    p.treatments__hairCuts__text=assetsHairCuts[0][5].service
                                    p.treatments__hairCuts__price=assetsHairCuts[0][5].price
                                .line__treatments
                            
                                .treatments__row
                                    p.treatments__hairCuts__text=assetsHairCuts[0][6].service
                                    p.treatments__hairCuts__price=assetsHairCuts[0][6].price
                                .line__treatments 

                    section.sp.inactive.treatments__facials  
                        .treatments__services
                                .treatments__col
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][0].service
                                        p.treatments__facials__price=assetsFacials[0][0].price
                                    .line__treatments 
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][1].service
                                        p.treatments__facials__text=assetsFacials[0][1].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][2].service
                                        p.treatments__facials__price=assetsFacials[0][2].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][3].service
                                        p.treatments__facials__price=assetsFacials[0][3].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][4].service
                                        p.treatments__facials__price=assetsFacials[0][4].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][5].service
                                        p.treatments__facials__price=assetsFacials[0][5].price
                                    .line__treatments  
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][6].service
                                        p.treatments__facials__price=assetsFacials[0][6].price
                                    .line__treatments 
                                .treatments__col
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][7].service
                                        p.treatments__facials__price=assetsFacials[0][7].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][8].service
                                        p.treatments__facials__price=assetsFacials[0][8].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][6].service
                                        p.treatments__facials__price=assetsFacials[0][6].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][9].service
                                        p.treatments__facials__price=assetsFacials[0][9].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][10].service
                                        p.treatments__facials__price=assetsFacials[0][10].price
                                    .line__treatments
                                    .treatments__row
                                        p.treatments__facials__text=assetsFacials[0][11].service
                                        p.treatments__facials__price=assetsFacials[0][11].price
                                    .line__treatments

                
            include footer           
                        