extends ../base 

block variables 
    - var template = 'treatments'
    
block content
    .treatments
        .treatments__wrapper
            section.treatments__wash
                .treatments__col
                    .treatments__row
                        p.treatments__wash__text=assets[8][0].service
                        p.treatments__wash__price=assets[8][0].price
                    .line__treatments 
                    .treatments__row
                        p.treatments__wash__text=assets[8][1].service
                        p.treatments__wash__text=assets[8][1].price
                    .line__treatments
                    .treatments__row
                        p.treatments__wash__text=assets[8][2].service
                        p.treatments__wash__price=assets[8][2].price
                    .line__treatments
                .treatments__col
                    .treatments__row
                        p.treatments__wash__text=assets[8][3].service
                        p.treatments__wash__price=assets[8][3].price
                    .line__treatments
                    .treatments__row
                        p.treatments__wash__text=assets[8][4].service
                        p.treatments__wash__price=assets[8][4].price
                    .line__treatments
                    .treatments__row
                        p.treatments__wash__text=assets[8][5].service
                        p.treatments__wash__price=assets[8][5].price
                    .line__treatments
                

            section.treatments__massage
                
                    .treatments__col__1
                        p.treatments__massage__text=assets[9][0].service
                    .line__treatments
                        p.treatments__massage__text=assets[9][1].service
                    .line__treatments
                    .treatments__col__2
                        p.treatments__massage__price=assets[9][0].price
                        .line__price
                        p.treatments__massage__price=assets[9][1].price
                        .line__price
                      
                
                    .treatments__col__3
                        p.treatments__massage__text=assets[9][2].service
                    .line__treatments
                        p.treatments__massage__text=assets[9][3].service
                    .line__treatments
                    .treatments__col__4
                        p.treatments__massage__price=assets[9][2].price
                        .line__price
                        p.treatments__massage__price=assets[9][3].price
                        .line__price

            section.treatments__facial 
                  
                    .treatments__col__4
                        p.treatments__facial__text=assets[10][0].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][1].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][2].service
                    .line__treatments   
                        p.treatments__facial__text=assets[10][3].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][4].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][5].service
                    .line__treatments

               
                    .treatments__col__2
                        p.treatments__facial__price=assets[10][0].price
                        .line__price
                        p.treatments__facial__price=assets[10][1].price
                        .line__price
                        p.treatments__facial__price=assets[10][2].price
                        .line__price
                        p.treatments__facial__price=assets[10][3].price
                        .line__price
                        p.treatments__facial__price=assets[10][4].price
                        .line__price
                        p.treatments__facial__price=assets[10][5].price
                        .line__price

                
                    .treatments__col__3
                        p.treatments__facial__text=assets[10][6].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][7].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][8].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][9].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][10].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][11].service
                    .line__treatments
                        p.treatments__facial__text=assets[10][12].service
                    .line__treatments

                    .treatments__col__4
                        p.treatments__facial__price=assets[10][6].price
                        .line__price
                        p.treatments__facial__price=assets[10][7].price
                        .line__price
                        p.treatments__facial__price=assets[10][8].price
                        .line__price
                        p.treatments__facial__price=assets[10][9].price
                        .line__price
                        p.treatments__facial__price=assets[10][10].price
                        .line__price
                        p.treatments__facial__price=assets[10][11].price
                        .line__price
                        p.treatments__facial__price=assets[10][12].price
                        .line__price
                
            section.treatments__home
                
                    .treatments__col__1
                        p.treatments__home__text=assets[11][0].service
                    .line__treatments
                        p.treatments__home__text=assets[11][1].service
                    .line__treatments
                    .treatments__col__2
                        p.treatments__home__price=assets[11][0].price
                        .line__price
                        p.treatments__home__price=assets[11][1].price
                        .line__price
                 
                    .treatments__col__3
                        p.treatments__home__text=assets[11][2].service
                    .line__treatments
                        p.treatments__home__text=assets[11][3].service
                    .line__treatments
                 
                    .treatments__col__4
                        p.treatments__home__price=assets[11][2].price
                        .line__price
                        p.treatments__home__price=assets[11][3].price
                        .line__price

            section.treatments__beard   
                
                    .treatments__col__1
                        p.treatments__beard__text=assets[12][0].service
                    .line__treatments
                        p.treatments__beard__text=assets[12][1].service
                    .line__treatments
                        p.treatments__beard__text=assets[12][2].service
                    .line__treatments
                        p.treatments__beard__text=assets[12][3].service
                    .line__treatments
                        p.treatments__beard__text=assets[12][4].service
                    .line__treatments
                        p.treatments__beard__text=assets[12][5].service
                    .line__treatments
                    .treatments__col__2
                        p.treatments__beard__price=assets[12][0].price
                        .line__price
                        p.treatments__beard__price=assets[12][1].price
                        .line__price
                        p.treatments__beard__price=assets[12][2].price
                        .line__price
                        p.treatments__beard__price=assets[12][3].price
                        .line__price
                        p.treatments__beard__price=assets[12][4].price
                        .line__price
                        p.treatments__beard__price=assets[12][5].price
                        .line__price
                
                    .treatments__col__3
                        p.treatments__beard__text=assets[12][6].service
                    .line__treatments
                        p.treatments__beard__text=assets[12][7].service
                    .line__treatments
                        p.treatments__beard__text=assets[12][8].service
                    .line__treatments
                        p.treatments__beard__text=assets[12][9].service
                    .line__treatments
                    .treatments__col__4
                        p.treatments__beard__price=assets[12][6].price
                        .line__price
                        p.treatments__beard__price=assets[12][7].price
                        .line__price
                        p.treatments__beard__price=assets[12][8].price
                        .line__price
                        p.treatments__beard__price=assets[12][9].price
                        .line__price
                        